h1 {
    max-width: 567px;
    font: 36px 'Rounded';
    text-align: center;
    line-height: 1.3;
    margin: 60px auto; 
}
.resp {
    width: 323px;
    display: none;
    margin: 0 auto;
}

/* Depoimentos */    
.step-depoimentos {
    margin: 140px 0 0;
}
    .step-depoimentos .bg {
        height: 413px;
        background: url('../images/fundo.png') no-repeat 0 0;
        margin-top: 20px;
        position: relative;
    }
    .step-depoimentos .depoimento {
        font: 28px 'Rounded';
        max-width: 820px;
        height: 274px;
        background-color: rgba(255, 255, 255, 0.90);
        border-radius: 5px;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 80px 105px 0;
        box-sizing: border-box;
        font-size: 22px;
    }
    .depoimento .ico-depo {
        float: left;
        margin-right: 55px;
    }

/* Parceiros */
.step-parceiros {
    margin: 90px 0 0;
}    
    .step-parceiros p,
    .step-queroparticipar p {
        font-size: 20px;
        color: #717171;
        text-transform: uppercase;
        font-weight: 300;
        margin-bottom: 30px;
    }
    .step-parceiros a {
        margin-right: 44px;
    }
    .step-parceiros .logo-par {
        display: inline-block;
        vertical-align: bottom;
    }
    .step-parceiros .logo-par:last-child {
        margin-right: 0;
    }

/*  Quero participar */
.step-queroparticipar {
    margin: 90px 0 0;
}    
    .step-queroparticipar .btn {
        float: left;
        width: 204px;
        height: 73px;
        margin-right: 100px;
        border-radius: 5px;
        font-size: 30px;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        line-height: 73px;
        text-decoration: none;
    }
    .step-queroparticipar .btn:hover {
        opacity: 0.85;
    }
    .step-queroparticipar .btn-doador {
        background-color: #ffa700;
    }
    .step-queroparticipar .btn-loja {
        background-color: #0c90d3;
    }
    .step-queroparticipar .btn-ong {
        background-color: #59b84d;
    }


/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 959px) {
    .resp {
        display: block;
    }
    .ico-depo,
    .no-resp {
        display: none;
    }
    h1 {
        font-size: 30px;
        margin-bottom: 10px;
    }
    h2 {
        font-size: 28px;
    }
    p {
        font-size: 18px;
    }
    .btn {
        float: none!important;
        display: block;
        margin: 0 auto 20px!important;
    }
    .step-depoimentos .depoimento {
        width: 96%;
        padding: 30px 20px; 
        text-align: center;
    }
    .step-parceiros,
    .step-queroparticipar,
    .step-depoimentos {
        margin-top: 40px;
    }
    .step-parceiros .logo-par {
        display: block;
        margin: 0 auto 20px!important;
    }
}