/* ==========================================================================
   Fonts
   ========================================================================== */
@font-face {
    font-family: 'Rounded';
    src: url('fonts/rounded_elegance-webfont.eot');
    src: url('fonts/rounded_elegance-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rounded_elegance-webfont.ttf') format('truetype'),
         url('fonts/rounded_elegance-webfont.svg#rounded_eleganceregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* ==========================================================================
   Estrutura geral
   ========================================================================== */
html {
    color: #444;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    background-color: #efefef;
}
h2 {
    font: 36px 'Rounded';
    margin: 0;
    line-height: 1;
}

/* Header */
.main-header {
    width: 100%;
    height: 147px;
    background-color: #fff;
    box-shadow: 0 3px 7px #c4c4c4;
    font-size: 18px;
    position: relative;
}
    .main-header .logo {
        margin-top: 20px;
    }
    .main-header .main-menu a:hover {
        background-color: #f5f5f5; 
        box-shadow: inset 0 4px 4px #ccc;
    }
    .ico-menu {
        display: none;
    }

/* Menu */
.logo {
    float: left;
}
.main-menu {
    float: right;
    text-transform: uppercase;
    line-height: 147px
}
.main-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-menu li {
    display: inline-block;
}
.main-menu a {
    text-decoration: none;
    color: #444;
    font-weight: 300;
    padding: 15px 16px;
}

/* Footer */
.main-footer {
    float: left;
    width: 100%;
    background-color: #fff;
    height: 147px;
    box-shadow: 0 -3px 7px #c4c4c4;
    font-size: 18px;
    margin-top: 170px;
    clear: both;
}
    .main-footer .logo {
        margin-top: 47px;
    }
    .main-footer .main-menu a:hover {
        text-decoration: underline;
    }


/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 959px) {

    .hide-menu {
        display: none;
    }
    .main-footer .main-menu {
        display: none;
    }
    .main-header .logo {
        margin-left: 10px;
    }
    .main-header .wrapper {
        padding: 0;
    }
    .main-menu {
        line-height: 1.5;
        border-top: 1px solid #d7d7d7;
        margin-top: 14px;
        border-bottom: 1px solid #d7d7d7;
        margin-bottom: 20px;
    }
    .main-menu li {
        width: 100%;
        background-color: #fff;
    }
    .main-menu a {
        width: 100%;
        display: block;
        padding: 15px 16px;
    }
    .ico-menu {
        display: block;
        position: absolute;
        top: 40%;
        right: 10%;
    }
    .wrapper {
        padding: 0 10px;
    }
    .main-footer {
        margin-top: 20px;
    }
    .main-footer .logo {
        width: 100%;
        text-align: center;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
.wrapper {
    margin: 0 auto;
    max-width: 960px;
}
.hidden {
    display: none !important;
    visibility: hidden;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}